# <font color='#FF8C00'> Lab 2 | Gathering & Cleaning Data </font>
Welcome to Lab 2! This lab is about dealing with the Titanic dataset. For background information, the Titanic was a passenger ship that famously sank in 1912.

## <font color='#FFA500'> About the Dataset </font>
The dataset contains demographic information about passengers who were on board the Titanic as well as whether they survived or not. We focus on loading the data, building an understanding of the dataset, and cleaning the data for later use.

<hr>

### <font color = '#F4BB44'> Reading the Data using Pandas & Manually </font>
To start off, we need to access the dataset. The dataset is in a `.csv` format, and is assumed to be in the same directory as this Jupyter notebook. In the cells below, we access the `.csv` file using Pandas first.

In [3]:
# importing the pandas library
import pandas as pd

In [5]:
# reading the .csv file
titanic_df = pd.read_csv('titanic.csv')

# viewing the first 5 rows of the data frame
titanic_df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Great! Now that we've accessed the `.csv` file using pandas, we can now try to acces the file manually using basic Python. We attempt this by reading the data into a dictionary where the <font color = '#F4BB44'> **keys** </font> are variable names and the <font color = '#F4BB44'> **values** </font> are lists.

In [42]:
# initializing a set
data_set = set()

# extracting the keys from the dictionary
with open('titanic.csv') as file:
    first_line = file.readline().strip().split(",")

# printing out the keys to check if done right
print("List of Keys: ", first_line, "\n")

List of Keys:  ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

The set:  {'Fare', 'Parch', 'Embarked', 'SibSp', 'Cabin', 'Pclass', 'Ticket', 'PassengerId', 'Sex', 'Age', 'Survived', 'Name'}

### <font color='orange'> Sources Used </font>
- https://stackoverflow.com/questions/19746350/how-to-change-color-in-markdown-cells-ipython-jupyter-notebook
- https://stackoverflow.com/questions/1904394/read-only-the-first-line-of-a-file