# <font color='#d35400'> Lab 6 | Statistical Exploratory Data Analysis </font>
Welcome to Lab 6! The goal in lab 6 is to use hypothesis testing to conduct a exploratory data analysis. To achieve this, we consider life expectancy, but this time we work with a new data set of US county level information. The goal will be to work with a response variable and explore which variables might make good predictors for this response.

<p align="center">
  <img src="tennis_dog.jpg" alt="Alt Text", width="300"/>
</p>

### <font color='#FF8C00'> About the Dataset </font>
We start off the Jupyter Notebook by exploring the dataset. Since it is in a `.json` format, we convert it into a `pandas` data frame, and then perform the necessary statistical calculations, such as using `.info()` and `.describe()`. To achieve this, we make sure we do all the necessary imports that we need.

In [1]:
# importing the pandas library
import pandas as pd

# converting the .json file into a pandas data frame
county_df = pd.read_json("counties.json")

# displaying the counties data frame of the first row
county_df.head(1)

,name,fips,state,land_area (km^2),area (km^2),longitude (deg),latitude (deg),noaa,zip-codes,race,...,avg_income,covid-deaths,covid-confirmed,covid-vaccination,elections,edu,poverty-rate,cost-of-living,industry,health
0,cuming county,31039,NE,1477.641638,1488.343176,-96.787366,41.916346,"{'prcp': 30.5, 'snow': 28.2, 'temp': 48.8, 'al...","[68047, 68641, 68004, 68045, 68788, 68716, 687...",{'non_hispanic_white_alone_male': 0.4379380510...,...,58610,"{'2020-02-01': 0, '2020-03-01': 0, '2020-04-01...","{'2020-02-01': 0, '2020-03-01': 0, '2020-04-01...","{'2021-01-01': 0.0, '2021-02-01': 61.4, '2021-...","{'2008': {'total': 4087, 'dem': 1274, 'gop': 2...","{'less-than-high-school': 11.6, 'high-school':...",8.9,"{'living_wage': 12.89, 'food_costs': 3246.0, '...","{'Construction': {'payroll': 8307000, 'employe...","{'% Fair or Poor Health': 14.590580443, 'Avera..."

In [2]:
# importing the ipython library
from IPython.display import display

# displaying the descriptive statistics of the data frame
display("Summary Statistics: ", county_df.info())

# displaying the summary of the dataset
display("Description of Dataset: ", county_df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   name                    3142 non-null   object
 1   fips                    3142 non-null   int64
 2   state                   3142 non-null   object
 3   land_area (km^2)        3142 non-null   float64
 4   area (km^2)             3142 non-null   float64
 5   longitude (deg)         3142 non-null   float64
 6   latitude (deg)          3142 non-null   float64
 7   noaa                    3142 non-null   object
 8   zip-codes               3142 non-null   object
 9   race                    3142 non-null   object
 10  age                     3142 non-null   object
 11  male                    3142 non-null   int64
 12  female                  3142 non-null   int64
 13  population              3142 non-null   object
 14  deaths                  3142 non-null   object
 15  bls                     3136 non-null   object
 16  life-expectancy         3142 non-null   float64
 17  fatal_police_shootings  3142 non-null   object
 18  police_deaths           3142 non-null   int64
 19  avg_income              3142 non-null   int64
 20  covid-deaths            3142 non-null   object
 21  covid-confirmed         3142 non-null   object
 22  covid-vaccination       3142 non-null   object
 23  elections               3112 non-null   object
 24  edu                     3142 non-null   object
 25  poverty-rate            3141 non-null   float64
 26  cost-of-living          3142 non-null   object
 27  industry                3134 non-null   object
 28  health                  3141 non-null   object
dtypes: float64(6), int64(5), object(18)
memory usage: 712.0+ KB

'Summary Statistics: '

None

'Description of Dataset: '

,fips,land_area (km^2),area (km^2),longitude (deg),latitude (deg),male,female,life-expectancy,police_deaths,avg_income,poverty-rate
count,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000,3.142000e+03,3.142000e+03,3142.000000,3142.000000,3142.000000,3141.000000
mean,30383.652769,2911.729752,3140.236735,-92.293441,38.455993,5.145045e+04,5.301789e+04,77.750662,0.017187,44188.344685,14.455333
std,15162.512005,9360.572636,9960.549977,12.975221,5.304694,1.638677e+05,1.696276e+05,2.382180,0.139440,12761.680107,5.799981
min,1001.000000,5.300264,5.300296,-175.687790,19.593667,4.100000e+01,4.500000e+01,66.810000,0.000000,18541.000000,2.700000
25%,18177.500000,1115.844505,1154.514541,-98.233756,34.696344,5.459750e+03,5.407250e+03,76.100000,0.000000,36584.250000,10.400000
50%,29176.000000,1595.516194,1687.209285,-90.394740,38.380621,1.286900e+04,1.282850e+04,77.935000,0.000000,41974.000000,13.400000
75%,45080.500000,2393.159486,2552.865615,-83.430980,41.819157,3.415225e+04,3.451250e+04,79.490000,0.000000,48821.500000,17.500000
max,56045.000000,377030.936019,382984.116616,-67.608136,69.377717,4.949041e+06,5.090066e+06,86.830000,3.000000,251728.000000,47.700000

According to `.info()`, we can see that some of the data types that the columns have are `int64`, `float64` and `object`. According to `.describe()`, we can see the following count, mean, standard deviation and more in the table above this cell.

### <font color='#FF8C00'> JSON to Excel & CSV </font>
We would like to convert the .json file into a excel and .csv file, and then download these files directly into the directory. This will allow us to examine the dataset better, seeing what columns exist as well as other things.

In [3]:
# converting the .json to a .csv file
county_df.to_csv("counties.csv", encoding='utf-8', index=False)

# converting the .json to a excel file
county_df.to_excel("counties.xlsx", index=False)

## <font color = '#FF8C00'> Section 1 </font> | Data Preparation
In this section, we load the `counties.csv` file into a Pandas data frame using `pd.read_csv()`. We perform basic feature engineering by creating new columns for COVID-19 deaths and confirmed cases per capita, an indicator for above-average life expectancy, the largest industry by employees and the most common educational level in each country. To achieve this, we perform the following steps:
- [x] Divide the number of covid deaths in each county in 2022-03-01 by the 2019 population – add a column called covid-deaths total per capita containing this data to the dataframe. 
- [x] Divide the number of covid confirmed cases in each county in 2022-03-01 by the 2019 population – add a column called covid-confirmed total per capita containing this data to the dataframe.
- [x] Create an indicator that measures whether a county has greater-than-average life expectancy. Add a column called above average life-expectancy containing this data to the dataframe.
- [x] Record for each county the largest industry by number of employees. You will need to use the 20 variables in the data named industry/.../employees. To do this, you will need to ﬁll missing values in these variables. For simplicity, ﬁll missing values with 0 (you may ﬁnd .ﬁllna useful). Put this information into a single column called biggest industry.
- [x] Record for each county the modal educational level. You will need to use the 4 variables in the data named edu/.... Put this information into a single column called county_modal_ed.

### <font color = '#FF8C00'> COVID Deaths </font>
We start this section off by dividing the number of covid deaths in each country in March 1, 2022 by the 2019 population. We then add a column called `covid-deaths_total_per_capita` that contains this data to the dataframe.

In [4]:
# using json_normalize to normalize semi-structured data into a flat table
death_df = pd.json_normalize(county_df["covid-deaths"])
population_df = pd.json_normalize(county_df["population"])

# extracting relevant data from both columns
death_df.columns = death_df.columns.map(lambda x: x.split(".")[-1])
population_df.columns = population_df.columns.map(lambda x: x.split(".")[-1])

In [5]:
# checking length of the 2022-03-01 column
death_length = len(death_df['2022-03-01'])
print("Number of Death Observations: ", death_length)

# checking length of the 2019 column
year_length = len(population_df['2019'])
print("Number of 2019 Observations: ", year_length)

# converting the columns into a list
death_list = death_df['2022-03-01'].tolist()
population_list = population_df['2019'].tolist()

# dividing covid deaths by the 2019 population
death_by_year_list = [death / year for death, year in zip(death_list, population_list)]

# adding the list as a column to a data frame
county_df['covid-deaths_total_per_capita'] = death_by_year_list

Number of Death Observations:  3142
Number of 2019 Observations:  3142

### <font color = '#FF8C00'> COVID Confirms </font>
Next, we move on to dividing the number of covid confirmed cases in each county in 2022-03-01 by the 2019 population. We add a column called `above_average_life_expectancy` containing this data to the data frame.

In [6]:
# using json_normalize to normalize semi-structured data into a flat table
confirm_df = pd.json_normalize(county_df['covid-confirmed'])

# converting the data frame column into a list
confirm_list = confirm_df['2022-03-01'].tolist()

# checking the length of the confirm list
print("Number of Covid Confirmed Observations: ", len(confirm_list))

# dividing covid confirms by the 2019 population
confirm_by_year_list = [confirm / year for confirm, year in zip(confirm_list, population_list)]

# adding the list as a column to a data frame
county_df['covid-confirmed_total_per_capita'] = confirm_by_year_list

Number of Covid Confirmed Observations:  3142

### <font color = '#FF8C00'> Life Expectancy Indicator </font>
Next, we move on creating a indicator, with regards to whether a county has a greater than average life expectancy. We then add a column called `above_average_life-expectancy` to the data frame.

In [7]:
# importing the numpy library
import numpy as np

# calculating the average of the life expectancy feature
average_life_expectancy = np.mean(county_df['life-expectancy'])
print("Average Life Expectancy: ", average_life_expectancy)
print("Length of Life Expectancy List: ", len(county_df['life-expectancy']))

# converting into a list
life_expectancy_list = county_df['life-expectancy']

# evaluating if a county has a above average life expectancy or not
evaluation_list = []
for index in range(0, len(life_expectancy_list)):
    if(life_expectancy_list[index] > average_life_expectancy):
        evaluation_list.append(True)
    else:
        evaluation_list.append(False)

# checking the length of the evaluation list 
print("Length of Evaluation List: ", len(evaluation_list))

# appending the evaluation list as a column
county_df['above_average_life-expectancy'] = evaluation_list

Average Life Expectancy:  77.75066199872693
Length of Life Expectancy List:  3142
Length of Evaluation List:  3142

### <font color = '#FF8C00'> Largest Industry </font>
Next, we move on recording for each country the largest industry by the number of employees. Once we find the industry, we put this information into a single column called `biggest_industry`.

In [8]:
# using json_normalize to normalize semi-structured data into a flat table
industry_df = pd.json_normalize(county_df['industry'])

# filling in the missing values in the data frame using just 0
industry_df.fillna(0, inplace=True)

# dropping all the columns ending with .payroll
for column in industry_df.columns:
    if column.endswith('.payroll'):
        industry_df.drop(column, axis=1, inplace=True)

# setting up a list of industries with higheest number of employees
high_employment_industry = []

# finding the indsutry with the highest number of employees
for index in range(0, len(industry_df)):
    row = industry_df.iloc[index]
    column_name = row.idxmax()
    high_employment_industry.append(column_name)

# setting up a list of industry names
industry_list = []

# performing string slicing to get just the industry
for industry in high_employment_industry:
    dot_position = industry.rfind('.')
    industry_name = industry[:dot_position]
    industry_list.append(industry_name)

# checking the length of the industry list
print("Length of Insutry Names: ", len(industry_list))

# adding the names of the indsutries to the data frame
county_df['biggest_industry'] = industry_list

Length of Insutry Names:  3142

### <font color = '#FF8C00'> Education Level </font>
Next, we record for each county the modal educational level. We need to use the 4 variables in the data. We then put this information into a single column called `county_modal_ed`.

In [9]:
# using json_normalize to normalize semi-structured data into a flat table
education_df = pd.json_normalize(county_df['edu'])

# setting up a list of education levels
education_level_list = []

# finding the modal education level using a for loop
for index in range(0, len(education_df)):
    row = education_df.iloc[index]
    column_name = row.idxmax()
    education_level_list.append(column_name)

# checking the length of the education levels
print("Length of Education Levels: ", len(education_level_list))

# adding the education levels to the data frame
county_df['county_modal_ed'] = education_level_list

Length of Education Levels:  3142

### <font color = '#FF8C00'> Checking for Presence of Columns </font>
Lastly, we would like to check for the presence of the columns we created.

In [10]:
# checking for the presence of the columns we created
column_list = ['covid-deaths_total_per_capita', 'covid-confirmed_total_per_capita', 'above_average_life-expectancy', 'biggest_industry', 
               'county_modal_ed']
result = all(column in county_df.columns for column in column_list)

# printing out the results
if result:
    print("All Columns Exist!")
else:
    print("The Columns Don't Exist!")

All Columns Exist!

### <font color='#FF8C00'> Sources Used For Section One </font>
- https://stackoverflow.com/questions/34341974/nested-json-to-pandas-dataframe-with-specific-format
- https://stackoverflow.com/questions/12604909/pandas-how-to-change-all-the-values-of-a-column
- https://stackoverflow.com/questions/78157298/load-convert-json-to-excel-with-pandas-in-python
- https://stackoverflow.com/questions/24870306/how-to-check-if-a-column-exists-in-pandas
- https://www.reddit.com/r/learnpython/comments/q5e07m/pandas_fillna_replacing_every_value_with_nan/
- https://stackoverflow.com/questions/28218698/how-to-iterate-over-columns-of-a-pandas-dataframe
- https://stackoverflow.com/questions/13411544/delete-a-column-from-a-pandas-dataframe
- https://stackoverflow.com/questions/10202570/find-row-where-values-for-column-is-maximal-in-a-pandas-dataframe
- https://www.geeksforgeeks.org/python-find-position-of-a-character-in-given-string/
- https://www.geeksforgeeks.org/string-slicing-in-python/

## <font color = '#FF8C00'> Section 2 </font> | Life Expectancy
In this section, we will analyze the relationship between life expectancy and various numerical predictors using Pearson's correlation and tested categorical associations with the Kruskal-Wallis test. The results would indicate which variables have statistically significant relationships with life expectancy $\alpha$ = 0.05, which provides insight into key factors including county-level differences. We achieve this in the following steps:
- [x] In this section we are going to explore which variables are predictive of US county level life expectancy. Thus we will be using life-expectancy as our dependent variable, and we focus on other variables as potential predictors
- [x] For each numerical potential predictor variable, use scipy.stats.linregress() to estimate the Pearson’s correlation coefficient and the statistical significance (p-value) of the correlation against the life-expectancy variable
- [x] We can test for association between categorical and numerical variables using a Kruskal-Wallis test via the scipy.kruskal() function
- [x] In a single table, indicate the variable name, test statistic, p-value, and whether there is a statistically significant relationship between that variable and life-expectancy at a threshold of α = 0.05, using all the hypothesis tests conducted in 2.2 and 2.3.

### <font color = '#FF8C00'> Linear Regression </font>
For each numerical predictor, we use `scipy.stats.linregress()` to estimate the Pearson's correlation coefficient and the statistical signfigiance of the correlation against the life-expectancy variable. We then take those results to build a single table that indicates the variable name, test statistic and life-expectancy at a threshold of $/alpha$ = 0.05 using the hypothesis tests conducted.

In [11]:
# using json_normalize to normalize semi-structured data into a flat table
noaa_df = pd.json_normalize(county_df['noaa'])
deaths_df = pd.json_normalize(county_df['deaths'])
bls_df = pd.json_normalize(county_df['bls'])
vaccination_df = pd.json_normalize(county_df['covid-vaccination'])
cost_of_living_df = pd.json_normalize(county_df['cost-of-living'])
health_df = pd.json_normalize(county_df['health'])

In [12]:
# importing the statistics library from scipy
import scipy.stats

# building a function that returns the name, test statistic and p-value
def linear_regression_function(feature_one, feature_two):

    if feature_two.isnull().any():
        null_rows = feature_two[feature_two.isnull()].index.tolist()
        feature_one = feature_one.drop(null_rows)
        feature_two = feature_two.drop(null_rows)

    # calculating the linear regression
    linear_regression = scipy.stats.linregress(feature_one, feature_two)

    # calculating the test statisic, p-value and r-value
    t_value = linear_regression.slope / linear_regression.stderr
    p_value = linear_regression.pvalue
    r_value = linear_regression.rvalue
    statistical_signifigance = False

    # whether statistically significant or not
    if p_value < 0.05:
        statistical_signifigance = True
    
    # return everything
    return t_value, p_value, r_value, statistical_signifigance

In [13]:
# extracting the necessary data we need to pass in to our function
dataframe_features = [
    county_df['longitude (deg)'],
    county_df['latitude (deg)'],
    noaa_df['temp'],
    noaa_df['altitude'],
    county_df['male'],
    deaths_df['suicides'],
    deaths_df['homicides'],
    bls_df['2020.unemployed'],
    county_df['avg_income'],
    county_df['covid-deaths_total_per_capita'],
    county_df['covid-confirmed_total_per_capita'],
    vaccination_df['2021-12-01'],
    county_df['poverty-rate'],
    cost_of_living_df['living_wage'],
    cost_of_living_df['food_costs'],
    cost_of_living_df['medical_costs'],
    cost_of_living_df['housing_costs'],
    cost_of_living_df['tax_costs'],
    health_df['Average Number of Mentally Unhealthy Days'],
    health_df['% Smokers'],
    health_df['% Adults with Obesity'],
    health_df['% Physically Inactive'],
    health_df['% Long Commute - Drives Alone'],
]

# creating a list of all the variables for the table
variable_names = [
    'longitude (deg)', 
    'latitude (deg)', 
    'temp', 
    'altitude', 
    'male', 
    'suicides', 
    'homicides',
    '2020.unemployed', 
    'avg_income', 
    'covid-deaths_total_per_capita', 
    'covid-confirmed_total_per_capita', 
    'vaccination.2021-12-01', ''
    'poverty-rate', 
    'living_wage', 
    'food_costs', 
    'medical_costs', 
    'housing_costs',
    'tax_costs', 
    'Average Number of Mentally Unhealthy Days', 
    '% Smokers',
    '% Adults with Obesity',
    '% Physically Inactive', 
    '% Long Commute - Drives Alone',
]

In [14]:
# instantiating a number of lists
t_values_list = []
p_values_list = []
r_values_list = []
signifigance_list = []

# running the function in a for loop and storing the results
for feature in dataframe_features:
    
    # retrieving all the necessary daya
    t_value, p_value, r_value, statistical_signifigance = linear_regression_function(county_df['life-expectancy'], feature)
    
    # appending to the instantiated lists
    t_values_list.append(t_value)
    p_values_list.append(p_value)
    r_values_list.append(r_value)
    signifigance_list.append(statistical_signifigance)

In [15]:
# creating a dicationary 
data_numerical = {
    'Variable Name': variable_names,
    'Test Statistic': t_values_list,
    'P-Value': p_values_list,
    "Statistically Significant": signifigance_list
}

# converting dicationary to data frame
numerical_df = pd.DataFrame(data_numerical)

# displaying the data frame as a table
display(numerical_df)

,Variable Name,Test Statistic,P-Value,Statistically Significant
0,longitude (deg),-10.549703,1.358906e-25,True
1,latitude (deg),27.255320,5.304361e-147,True
2,temp,-30.046768,1.463919e-174,True
3,altitude,15.650003,3.235692e-53,True
4,male,9.709380,5.584895e-22,True
5,suicides,9.414545,9.216754e-21,True
6,homicides,4.143451,3.552415e-05,True
7,2020.unemployed,8.069614,9.946132e-16,True
8,avg_income,38.298671,1.111643e-263,True
9,covid-deaths_total_per_capita,-31.072288,4.616175e-185,True
10,covid-confirmed_total_per_capita,-15.200018,2.107299e-50,True
11,vaccination.2021-12-01,8.176386,4.197836e-16,True
12,poverty-rate,-54.793435,0.000000e+00,True
13,living_wage,21.421593,3.941282e-95,True
14,food_costs,22.636483,3.226331e-105,True
15,medical_costs,-9.044944,2.560844e-19,True
16,housing_costs,20.814251,3.046873e-90,True
17,tax_costs,12.428512,1.179789e-34,True
18,Average Number of Mentally Unhealthy Days,-65.001113,0.000000e+00,True
19,% Smokers,-61.225718,0.000000e+00,True
20,% Adults with Obesity,-30.831628,1.420991e-182,True
21,% Physically Inactive,-44.704013,0.000000e+00,True
22,% Long Commute - Drives Alone,-8.420080,5.643566e-17,True

### <font color = '#FF8C00'> Association Test </font>
Lastly, we would like to test for association between categorical and numerical variables using a Kruska-Wallis test. The numerical variable we use here is the `life-expectancy` variable.

In [21]:
# importing the kruskal function
from scipy.stats import kruskal

# creating a list of categorical features
categorical_features = [
    county_df['state'],
    county_df['county_modal_ed'],
    county_df['biggest_industry']
]

# creating a list of variable names for the table
categorical_names = [
    'state',
    'county_modal_ed',
    'biggest_indsutry'
]

In [24]:
# creating a function that performs kruskal-wallis
def kruskal_wallis(feature_one, feature_two):

    # creating a list
    samples_by_group = []

    # setting up the for loop
    for value in set(feature_one):
        mask = feature_one == value
        samples_by_group.append(feature_two[mask])
    
    # getting the statistics and probability
    statistic, probability = kruskal(*samples_by_group)

    # instatiating the statistical signfigance variable
    statistical_signifigance = True

    # whether statistically significant or not
    if probability < 0.05:
        statistical_signifigance = True

    # returning the statistics and probability
    return statistic, probability, statistical_signifigance

In [ ]:
# instatiating the lists to append to
statistic_list = []
probability_list = []
hypothesis_list = []

# setting up a for loop to retrieve the necessary values
for category in categorical_features:
    statistic, probability, statistical_signifigance = kruskal_wallis(category, county_df['life-expectancy'])
    statistic_list.append(statistic)
    probability_list.append(probability)
    hypothesis_list.append(statistical_signifigance)

In [28]:
# creating a dicationary 
data_categorical = {
    'Variable Name': categorical_names,
    'Test Statistic': statistic_list,
    'P-Value': probability_list,
    "Statistically Significant": hypothesis_list
}

# converting dicationary to data frame
categorical_df = pd.DataFrame(data_categorical)

# displaying the data frame as a table
display(categorical_df)

ValueError: All arrays must be of the same length

### <font color='#FF8C00'> Sources Used For Section Two </font>
- https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.linregress.html
- https://www.geeksforgeeks.org/python-convert-two-lists-into-a-dictionary/
- https://stackoverflow.com/questions/29530232/how-to-check-if-any-value-is-nan-in-a-pandas-dataframe
- https://stackoverflow.com/questions/73803147/find-the-row-numbers-in-a-dataframe-if-one-or-more-than-one-columns-in-a-row-h
- https://stackoverflow.com/questions/44548721/remove-row-with-null-value-from-pandas-data-frame

## <font color = '#FF8C00'> Section 3 </font> | Classification on Above Average Life Exepctancy
In this section, we assess the relationship between various variables and above-average life expectancy at the US county level using the Kruskal-Wallis test for numerical variables and the $\chi^2$ test for categorical variables. The results will be summarized in a table indicating the test statistic, p-value, and statistical signifigance at the 0.05 signifigance level for each variable. We achieve this by doing the following:
- [ ] As above, run a Kruskal-Wallis test for each numerical variable versus the above average life-expectancy indicator. 
- [ ] We can test two categorical variables for association using a χ2 (read chi-squared) test of independence. To use the normal χ2 goodness of ﬁt test to check independence, expected frequencies of co-occurrences of the values from the two variables are calculated under the assumption that the values
are independent. The χ2 test is then used to determine if the co-occurrence counts of the other data set match the expected independent distribution (null hypothesis). If the counts do not match, then you reject the null hypothesis of independence. The χ2 1Loosely speaking, two variables are independent if they have no relationship. 
- [ ] Run a χ2 test of independence between each categorical variable versus the above average life-expectancy indicator 
- [ ] In a single table, indicate the variable name, test statistic, p-value, and whether there is a statistically significant relationship between that variable and above average life-expectancy at a threshold of α = 0.05.

In [ ]:
# instatiating the lists to append to
statistic_kw_list = []
probability_kw_list = []
hypothesis_kw_list = []

# running the function in a for loop and storing the results
for feature in dataframe_features:
    
    # retrieving all the necessary daya
    t_value, p_value, r_value, statistical_signifigance = kruskal_wallis(county_df['life-expectancy'], feature)
    
    # appending to the instantiated lists
    t_values_list.append(t_value)
    p_values_list.append(p_value)
    r_values_list.append(r_value)
    signifigance_list.append(statistical_signifigance)

### <font color='#FF8C00'> Sources Used For Section Three </font>
-